# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

DATABASE_URL=postgresql://prisma:topsecret@localhost:5432/unlocked?schema=public
POSTGRES_USER=prisma
POSTGRES_PASSWORD=topsecret
POSTGRES_DB=unlocked
PORT=3000
NODE_ENV=development
JWT_ACCESS_SECRET=change-me-access-secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=change-me-refresh-secret
JWT_REFRESH_EXPIRES_IN=7d
