# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

DATABASE_URL=postgresql://prisma:topsecret@localhost:5432/unlocked?schema=public
POSTGRES_USER=prisma
POSTGRES_PASSWORD=topsecret
POSTGRES_DB=unlocked
PORT=3000
NODE_ENV=development
JWT_SECRET=change-me-in-production
JWT_EXPIRES_IN=1d
